# String built in methods

In [4]:
s = 'This is a text'
s

'This is a text'

In [6]:
type(s)

str

In [10]:
t = s.upper()     # Capital letters
t

'THIS IS A TEXT'

In [12]:
s

'This is a text'

In [18]:
w = t.lower()    # Small letters
w

'this is a text'

In [20]:
w.capitalize()

'This is a text'

In [22]:
"           this is another string        ".strip()  # To remove trailing or leading spaces

'this is another string'

In [24]:
s = 'This, is a text, with some, punctuations'
s.split(',')      # To split a text into a list

['This', ' is a text', ' with some', ' punctuations']

In [36]:
# .csv     # Comma separeted value
s = "John Doe, Engineer, $125,000, Service"
s

'John Doe, Engineer, $125,000, Service'

In [38]:
s.split(', ')                # Spliting every time ", " appers

['John Doe', 'Engineer', '$125,000', 'Service']

In [ ]:
# join() function for Strings

In [ ]:
# Syntax: <string>.join(<interable>)

In [42]:
s = "1234567890"     # Iterable as a string
c = "*"              # String
c.join(s)

'1*2*3*4*5*6*7*8*9*0'

In [44]:
l = ['1234', '5678', '90']     # Iterable
c = "="
c.join(l)

'1234=5678=90'

In [46]:
"Hello".join('World')         # This is misleading

'WHellooHellorHellolHellod'

# Print formating

In [55]:
# Aligment, Padding and Precision

n = 40.123456
print("This is the formated number: {0:!^15.3f} ".format(n))

This is the formated number: !!!!40.123!!!!!

In [57]:
print("This is the formated number: {0:!<15.3f} ".format(n))

This is the formated number: 40.123!!!!!!!!!

In [59]:
print("This is the formated number: {0:!>15.3f} ".format(n))

This is the formated number: !!!!!!!!!40.123

In [61]:
print("This is the formated number: {0:$>15.3f} ".format(n))

This is the formated number: $$$$$$$$$40.123

In [83]:
print("This is the formated number: ${0:>15.3f} ".format(n))

This is the formated number: $         40.123

In [79]:
print("This is the formated number: ${0:_>7.0f} ".format(n))

This is the formated number: $_____40

In [93]:
#a) ====40.1     
#b) 40.1----
#c) $           40.12
#d) @@@40@@@

n = 40.1234567
# Solution a)
print('{0:=>8.1f}'.format(n))

# Solution b)
print('{0:-<8.1f}'.format(n))

# Solution c)
print('${0:>15.2f}'.format(n))

# Solution d)
print('{0:@^8.0f}'.format(n))

====40.1
40.1----
$          40.12
@@@40@@@