# LAB 2 
Dylan Liesenfelt

28 May 2024

### Question 1

In [47]:
number = 123.245345346
print("${0:>15.3f}".format(number))
print("${0:=>15.3f}".format(number))
print("${0:=<15.3f}".format(number))
print("{0:*^15.3f}".format(number))
print("{0:_^15.3f}".format(number))

$        123.245
$========123.245
$123.245========
****123.245****
____123.245____

#### Question 2

In [104]:
apollo = 'That\'s one small step for man, one giant leap for mankind.'

mod = apollo[:7] + apollo[31:57] + apollo[29] + apollo[6:29] + apollo[57]
print(mod)

twist1 = apollo.replace('small step', 'giant leap')
twist2 = apollo.replace('giant leap','small step')
twist = twist1[:30] + twist2[30:58]
print(twist)

That's one giant leap for mankind, one small step for man.
That's one giant leap for man, one small step for mankind.

#### Question 3

In [8]:
beeMovie = " According to all known laws of aviation, there is no way a bee should be able to fly.\n Its wings are too small to get its fat little body off the ground.\n The bee, of course, flies anyway because bees don't care what humans think is impossible."
beeMovie = beeMovie.upper().replace('A', '4').replace('E', '3').replace('I', '1').replace('O', '0').replace('U', '2')
print(beeMovie)

 4CC0RD1NG T0 4LL KN0WN L4WS 0F 4V14T10N, TH3R3 1S N0 W4Y 4 B33 SH02LD B3 4BL3 T0 FLY.
 1TS W1NGS 4R3 T00 SM4LL T0 G3T 1TS F4T L1TTL3 B0DY 0FF TH3 GR02ND.
 TH3 B33, 0F C02RS3, FL13S 4NYW4Y B3C42S3 B33S D0N'T C4R3 WH4T H2M4NS TH1NK 1S 1MP0SS1BL3.

#### Question 4

In [63]:
def line():
    print('=' * 100)

info = ['Genre', 'Title', 'Director', 'Studio', 'Cost']

def header():
    line()
    print("{0:<20}".format(info[0]), "{0:<20}".format(info[1]), "{0:<20}".format(info[2]), "{0:<20}".format(info[3]), "{0:<20}".format(info[4]))
    line()
header()

====================================================================================================
Genre                Title                Director             Studio               Cost
====================================================================================================

#### Question 5

In [112]:
def line():
    print('=' * 91)

def header():
    line()
    print("{0:^10}".format(info[0]), "{0:^20}".format(info[1]), "{0:^20}".format(info[2]), "{0:^15}".format(info[3]), "{0:^10}".format(info[4]), "{0:^10}".format(info[5]))
    line()

info = ['Genre', 'Title', 'Director', 'Studio', 'Cost', 'Year']
genres = ['Action', 'Comedy', 'Comedy', 'SciFi', 'SciFi']
titles = ['The Dark Knight', 'Step Brothers', 'Grandma\'s Boy', 'Alien', 'Starship Troopers']
directors = ['Christopher Nolan', 'Adam McKay', 'Nicholaus Gossen', 'Ridley Scott', 'Paul Verhoeven']
studios = ['Warner Bros', 'Columbia', 'Happy Maddison', 'Fox', 'TriStar']
costs = [185, 65, 5, 11, 110]
years = ['2008', '2008', '2006', '1979', '1997']


header()
i = len(titles) - 1
while i >= 0:
    print("{0:-^10}".format(genres[i]), "{0:*^20}".format(titles[i]), "{0:<20}".format(directors[i]), "{0:>15}".format(studios[i]), "${0:_^10.1f}".format(costs[i]), "{0:^10}".format(years[i]))
    i -= 1

===========================================================================================
  Genre           Title               Director           Studio         Cost       Year
===========================================================================================
--SciFi--- *Starship Troopers** Paul Verhoeven               TriStar $__110.0___    1997
--SciFi--- *******Alien******** Ridley Scott                     Fox $___11.0___    1979
--Comedy-- ***Grandma's Boy**** Nicholaus Gossen      Happy Maddison $___5.0____    2006
--Comedy-- ***Step Brothers**** Adam McKay                  Columbia $___65.0___    2008
--Action-- **The Dark Knight*** Christopher Nolan        Warner Bros $__185.0___    2008